.custom-navbar-color{
    font-size: 1.3rem;
    color: #f8f5f2;
}
.custom-navbar-top-color{
    font-size: 1.6rem;
    color: #f8f5f2;
}
.custom-navbar-color:hover{
    color: #edb83d;
}
.custom-button-text{
    text-decoration: none;
    color: white;
}
.custom-main-margin-top{
    margin-top: 100px;
}
.custom-banner-width{
    background-size: cover;
}
.custom-banner{
    height: 100vh;
    min-height: 500px;
    background-image: url("../img/pexels-jakub-novacek-924824.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.custom-img-margin{
    margin-left: 110px;
}
.custom-button-margin{
    margin-bottom: -10px;
    margin-top: -10px;
}
.custom-margin-left-title{
    margin-left: -140px;
}
.custom-border-radius{
    border: 1px solid gray;
    border-radius: 5px;
    border-collapse: collapse;

}
.custom-margin-left-image{
    margin-left:150px;
}
.custom-title-color{
    color: #f8f5f2;
}
.custom-body-color{
    background-color: #f8f5f2;

}
.custom-button-color {
    background-color: #000b29 !important;
    color: #f8f5f2 !important;
}
.custom-button-color:hover{
    background-color: #edb83d !important;
    color: #f8f5f2 !important;
}
.custom-link-style{
    text-decoration: none;
    color: #f8f5f2;

}
.custom-link-style:hover{
    color: #edb83d;
}
.custom-list-style{
    list-style:circle !important;
}
.custom-link-style-zdroj{
    text-decoration: none;
    color: #000b29;
}
.custom-link-style-zdroj:hover{
    color: #edb83d;
}
.custom-img-size{
    width: 100px; 
    height: 70px;
}
.custom-background{
    background-color: #000b29;
}
.custom-margin-admin{
    margin-top: 100px;
}
